body {
   
    /* padding: 0px; */
    margin: 0px;
    background: url(../space-tourism-website-main/space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg);
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* .container, .navbar, .left, .top {
    border: 1px solid white;
} */
div.navbar{
    /* float: right; */
    
}
div.navbar ul  {
    overflow: hidden;
    backdrop-filter: blur(50px);
    background-color: #61697a;
    
}
div.navbar ul li {
    list-style: none;
    float: left;
    padding: 8px 10px;
    
}


div.navbar ul li a:hover {
    color: black;
    background-color: white;
    box-shadow: 0px 2px 2px 0px blue;
    
}
div.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 1px 6px;
    font-size: 1.1rem;  
}
.rule span{
    color: blue;
    padding: 0px 5px;
    font-size: 1.2rem;
}
.left{
    width: 50%;
    float: left;
    height: 95vh;
}
.top{
    color: white;
    position: relative;
    left: 14vw;
    top: 8vh;
    word-spacing: 10px;
    display: inline-block;
}
.top span{
    color: blue;
    padding-right: 8px;
    font-size: 1.9rem;
}
.left img{
    position: relative;
    top: 10vh;
    overflow: hidden;
    
  
}
@media screen and (max-width: 920px){
    div.navbar ul li{
        padding: 3px 3px;
    }
    .left img{
        width: 80%;
        height: 100%;
        
    }
    .top span{
        font-size: 1.5rem;   
    }
    .top {
        font-size: 1.2rem;
    }
    .mars {
        font-size: 3.5rem;
    }
    
    
}

.unordered1{
    /* border: 1px solid white; */
    overflow: hidden;
    position: relative;
    left: 7vw;
    top: 19vh;
    display: block;
}
.unordered1 li {
    list-style: none;
    float: left;
    padding: 5px 10px;
}
.unordered1 li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
#mars {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 20px;
    position: relative;
    top: 15vh;
    left: 11vw;
    display: inline-block;
    box-shadow: 1px 2px 2px 1px blue;
}

#donot {
    color: white;
    position: relative;
    top: 13vh;
    left: 11vw;
    width: 35vw;
    line-height: 1.3rem;
}
.distance {
    /* border: 1px solid blue; */
    display: inline-block;
    position: relative;
    top: 18vh;
    left: 11vw;
    float: left;
    width: 30vw;
   
}
div.one, div.two {
    /* border: 1px solid white; */
    width: 50%;
    color: white;
    float: left;
    text-align: center;

}
div.one span, div.two span {
    font-size: 1.5rem;
}
marquee{

}

