*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 16px;
    min-height: 100vh;
    /* display: flex; */
    /* text-align: center; */
    min-width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
}
image{
    width: 100%;
    height: 100%;
}
.container{
    /* border: 3px solid whitew; */
    background-color: rgb(0, 0, 0, .9);
    position: relative;
}
.main{
    border: 5px solid white;
    min-height: 100vh;
    width: 90%;
    height: auto;
    position: relative;
    margin-inline: auto;
}
.main_container{
    /* border: 3px solid yellow; */
    background-color: rgb(44, 62, 80, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
   
}
/* ---------------left_section_css------ */

/* ------------------left_section_end------------- */
.left_section{
    width: 45%;
    /* border: 1px solid white; */
    padding-left: 3rem;
    position: relative;

}
.left_section .top_heading{         /* h1 tag decoration*/
    /* border: 1px solid white; */
    color: rgb(255, 255, 255, .5);
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding-top: .5rem;
    word-spacing: .1rem;
    letter-spacing: .06rem;
    padding-bottom: 1rem;
    width: 75%;

}
.left_section .para{                /*p tag decoration*/
    /* border: 1px solid white; */
    color: rgb(255, 255, 255, .5);
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 1.4rem;
    width: 82%;
    letter-spacing: .5px;
}
.form_section{
    /* border: 1px solid white; */
}
label span{
    color: white;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem 0 1rem 0rem;
    /* color: rgb(52, 73, 94,2); */
    color: rgb(44, 58, 71, 1),rgba();
}
#email,#options{
    margin-top: 1rem;
    outline: none;
    min-width: 50%;
    width: auto;
    height: 35px;
    /* padding: .5rem .5rem .5rem .5rem; */
    border-radius: 7px;
    padding-left: .5rem;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255,.6);
}
.sing_in_btn{          /* signin button css*/
    /* border: 1px solid white; */
    display: inline-block;
    text-align: center;
    margin-inline: auto;
    position: relative;
    left: 15%;
    top: 2%;
    margin-bottom: 1.5rem;
    outline: none;
    border: none;
}
.btn_btn_sign_in{
    /* border: 1px solid black; */
    padding: .5rem 0;
    /* border-radius: 8px; */
    /* outline: none; */
    border: none;
    background-color: red;
    /* position: absolute; */
}
.btn_btn_sign_in a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0 1.5rem;
    color: white;
    outline: none;
    font-family: 'Anek Telugu', sans-serif;
}
.membership_detail{
    /* border: 1px solid white; */
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 2rem;
    font-size: .8rem;
    color: white;
    font-family: 'Anek Telugu', sans-serif;
}
.membership_para{
    /* border: 2px solid black; */
    padding: .6rem 0;
    color: rgb(52, 73, 94,2);
}
.membership_policy{
    /* border: 2px solid black; */
    padding: .6rem 0;
    color: rgb(52, 73, 94,2);
    width: 80%;
}
footer{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer_nav{
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    margin-top: .6rem;
}
#unordered_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
    align-items: center;
}
#footer_list{
    list-style: none;
    /* border: 1px solid white; */
    padding: .5rem 0;
}
#footer_list a{
    text-decoration: none;
    color: rgb(255, 255, 255, .5);
    font-family: 'Anek Telugu', sans-serif;
    font-size: .8rem;
    /* border: 1px solid yellow; */
    padding: .5rem 1rem;
}
.footer_para{
    color: rgb(0, 0, 0, 1);
    font-weight: 700;
}


/* -------------------right_section_Css------- */
.right_section{
    width: 55%;
    /* border: 2px solid white; */
    background-image: url(https://images.unsplash.com/photo-1650372924500-4dbe5c18cad5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}
/* -----------------right_section_css---------- */

/* ----------------media query for max-width:600px for phone------------ */
@media only screen and (max-width: 600px){
    .main{
        width: 100%;
    }
    .main_container{
        width: 100%;
    }
    .left_section{
        padding-left: 1rem;
    }
    .left_section .top_heading{
        font-size: 1.3rem;
        width: 100%;
    }
    .left_section .para{
        width: 95%;
        font-size: .8rem;
        padding-bottom: 2rem;
    }
    label span{
        font-size: .8rem;
    }
    #email , #options{
        height: 32px;
        width: 80%;
    }
    .sing_in_btn{
        margin-bottom: 1rem;
    }
    .btn_btn_sing_in{
        padding: .3rem 0;
    }
    .btn_btn_sign_in a{
        font-size: .8rem;
        padding: 1.3rem;
    }
    .membership_detail{
        padding-top: .3rem;
        margin-top: 1.5rem;
        font-size: .7rem;
    }
    .membership_policy{
        width: 95%;
    }
    .footer_nav{
        margin-top: .4rem;
    }
    #unordered_list{
        justify-content: center;
        gap: 0;
    }
    #footer_list{
        padding: .3rem 0;
    }
    #footer_list a{
        font-size: .6rem;
    }
    .footer_para{
        margin-bottom: .6rem;
        font-size: .8rem;
    }

}
/* ------------------------------------------------------ */
/* ---------------media query for min-width: 600px ------------ */
@media only screen and (min-width: 600px){
    .main{
        width: 100%;
    }
    .main_container{
        width: 100%;
    }
    .left_section{
        padding-left: 1rem;
    }
    .left_section .top_heading{
        font-size: 1.8rem;
        width: 100%;
    }
    .left_section .para{
        width: 95%;
        font-size: .8rem;
        padding-bottom: 2rem;
    }
    label span{
        font-size: .8rem;
    }
    #email , #options{
        height: 32px;
        min-width: 80%;
    }
    .sing_in_btn{
        margin-bottom: 1rem;
    }
    .btn_btn_sing_in{
        padding: .3rem 0;
    }
    .btn_btn_sign_in a{
        font-size: .8rem;
        padding: 1.3rem;
    }
    .membership_detail{
        padding-top: .3rem;
        margin-top: 1.5rem;
        font-size: .7rem;
    }
    .membership_policy{
        width: 95%;
    }
    .footer_nav{
        margin-top: .4rem;
    }
    #unordered_list{
        justify-content: center;
        gap: 0;
    }
    #footer_list{
        padding: .3rem 0;
    }
    #footer_list a{
        font-size: .6rem;
    }
    .footer_para{
        margin-bottom: .6rem;
    }

}
/* ---------------------------------------------------------------- */
/* ---------------media query for min-width: 768px ------------ */
@media only screen and (min-width: 768px){
    .main{
        width: 100%;
    }
    .main_container{
        width: 100%;
    }
    .left_section{
        padding-left: 1rem;
    }
    .left_section .top_heading{
        font-size: 2.2rem;
        width: 100%;
    }
    .left_section .para{
        width: 95%;
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    label span{
        font-size: 1rem;
    }
    #email , #options{
        height: 35px;
        min-width: 80%;
        border: none;
    }
    .sing_in_btn{
        margin-bottom: 1rem;
        left: 50%;
        transform: translate(-90%);
    }
    .btn_btn_sing_in{
        padding: .3rem 0;
    }
    .btn_btn_sign_in a{
        font-size: .8rem;
        padding: 1.3rem;
    }
    .membership_detail{
        padding-top: .3rem;
        margin-top: 1.5rem;
        font-size: .8rem;
    }
    .membership_policy{
        width: 95%;
    }
    .footer_nav{
        margin-top: .4rem;
    }
    #unordered_list{
        justify-content: center;
        gap: 1.5rem;
    }
    #footer_list{
        padding: .3rem 0;
    }
    #footer_list a{
        font-size: .8rem;
    }
    .footer_para{
        margin-bottom: .6rem;
    }

}
/* ---------------------------------------------------------------- */
/* ---------------media query for min-width: 992px ------------ */
@media only screen and (min-width: 992px){
    .main{
        width: 100%;
    }
    .main_container{
        width: 80%;
    }
    .left_section{
        padding-left: 1rem;
    }
    .left_section .top_heading{
        font-size: 2.5rem;
        width: 100%;
    }
    .left_section .para{
        width: 98%;
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    label span{
        font-size: 1rem;
    }
    #email , #options{
        height: 35px;
        min-width: 80%;
    }
    .sing_in_btn{
        margin-bottom: 1rem;
    }
    .btn_btn_sing_in{
        padding: .7rem 0;
    }
    .btn_btn_sign_in a{
        font-size: .8rem;
        padding: 1.5rem;
        font-size: 1.01rem;
    }
    .membership_detail{
        padding-top: .3rem;
        margin-top: 1.5rem;
        font-size: .8rem;
    }
    .membership_policy{
        width: 95%;
    }
    .footer_nav{
        margin-top: .4rem;
    }
    #unordered_list{
        justify-content: center;
        gap: 1rem;
    }
    #footer_list{
        padding: .3rem 0;
    }
    #footer_list a{
        font-size: .9rem;
    }
    .footer_para{
        margin-bottom: .6rem;
    }

}
/* ---------------------------------------------------------------- */
/* ---------------media query for min-width: 1200px ------------ */
@media only screen and (min-width: 1200px){
    .main{
        width: 100%;
    }
    .main_container{
        width: 70%;
        max-width: 70%;
    }
    .left_section{
        padding-left: 1rem;
    }
    .left_section .top_heading{
        font-size: 2.5rem;
        width: 90%;
        max-width: 90%;
    }
    .left_section .para{
        width: 90%;
        max-width: 90%;
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    label span{
        font-size: 1rem;
    }
    #email , #options{
        height: 35px;
        min-width: 80%;
        max-width: 80%;
    }
    .sing_in_btn{
        margin-bottom: 1rem;
    }
    .btn_btn_sing_in{
        padding: .7rem 0;
    }
    .btn_btn_sign_in a{
        font-size: .8rem;
        padding: 1.5rem;
        font-size: 1.01rem;
    }
    .membership_detail{
        padding-top: .3rem;
        margin-top: 1.5rem;
        font-size: .8rem;
    }
    .membership_policy{
        width: 95%;
        max-width: 95%;
    }
    .footer_nav{
        margin-top: .4rem;
    }
    #unordered_list{
        justify-content: center;
        gap: 1rem;
    }
    #footer_list{
        padding: .3rem 0;
    }
    #footer_list a{
        font-size: .9rem;
    }
    .footer_para{
        margin-bottom: .6rem;
    }

}
/* ---------------------------------------------------------------- */